*
{
margin=0;
padding=0;
}

body{
  background: url(330082.jpg) no-repeat center fixed;
  -webkit-background-size:
cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:100% 100%;
overflow: hidden;
}

#shift1
{
    position: relative;
    transform: translateX(20%);
    margin-top: 10%;
}

#shift
{   position: relative;
    transform: translateX(35%);
    margin-top: 5%;
}
